# Supabase
SUPABASE_URL=https://kqjksujlbvwrljetwbrr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxamtzdWpsYnZ3cmxqZXR3YnJyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODIwMjQ4NywiZXhwIjoyMTAzNzc4NDg3fQ.zrxYhSBRkHBHnseIbmcSBwKqXdZnGqK14yPfznPQQos

# Paystack
PAYSTACK_PUBLIC_KEY=pk_test_f658c18c4a05134248566bc079d99161e01a467b
PAYSTACK_SECRET_KEY=sk_test_c0d6ba7b0bd40b374f72f3c4997fb877066d1875
PAYSTACK_CALLBACK_URL=http://localhost:5000/payment/callback

# Flask
SECRET_KEY=your-super-secret-key-change-this-in-production
FLASK_ENV=development
PORT=5000

# Company
COMPANY_NAME=Your Company Name
COMPANY_EMAIL=support@yourcompany.com
ADMIN_EMAIL=juwon20092006@gmail.com

# Email Configuration (Using Gmail SMTP)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=juwon20092006@gmail.com
MAIL_PASSWORD=pujk wssd xulu fjnn
MAIL_DEFAULT_SENDER=juwon20092006@gmail.com

# Campaign
CAMPAIGN_NAME=Creator Reward Campaign 2026
REWARD_NAME=Creator Pro Package